
 body{
    background-color: #fffbed;
    margin:0px;
}
 menu{
    border-bottom-left-radius: 4%;
    border-bottom-right-radius: 4%;
    background-color: #d8d3bf;
    list-style-type: none;
    display: flex;
    padding-bottom: 15px;
    margin: 0;
    }
menu li{
    
    padding-top: 15px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 0;
}
menu li ul{
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
}
h1{
    color: #0fa378;
}
a{
    
    color: #0fa378;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    background-color: #66c8b1;
}
.gridw{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    width: 100%;
gap:10px;
justify-content: space-between;
}
.gridw>div{
    width: 200px;
}
.ukinut{
    background-color: grey;
}
.izborni{
    background-color: powderblue;
}
