
 :root {
    --menu:#aaa9a9;
    --bg:  #cccccc;
    --slova: #000;
  }
 body{
    background-color: var(--bg);
    margin:0px;
}
html {
    scroll-padding-top: 180px;
  }

header{
    position: fixed;
    width: 100%;
}
 .menu{
    position: fixed;
    flex-direction: row;
    width:100%;
    top:0;
    border-bottom-left-radius: 4%;
    border-bottom-right-radius: 4%;
    background-color:var(--menu);
    list-style-type: none;
   display: flex;
   padding-bottom: 15px;
    margin: 0;
    
    justify-content:space-evenly;
    }
    .lim{
        
    }
.menu li{
    width: 100%;
    padding-top: 15px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 0;
}
.menu div ul{
    width: 100%;
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
}
h1{
    text-align: center;
    color: var(--slova);
}
h2{
    text-align: center;
    color: var(--slova);
}
a{
    font-size:x-large;
    color: var(--slova);
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    background-color: #e9e5d9;
}
.gridw{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    width: 100%;
    justify-content:space-evenly;
    gap:13px;
}
.gridw>div{
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
}
.ukinut{
    background-color: grey;
}
.izborni{
    background-color: powderblue;
}
.redovni{
    background-color: white;
}
.izborni, .ukinut, .redovni{
    padding: 10px;
    border-radius: 5%;
}
.izborni, .ukinut, .redovni h2,h1,h3{
margin: 0;
}
h3{
    text-align: center;
}
#ri{
    padding-top: 200px;
}
#rie,#ee,#ri,#tk{
    margin-top: 1em;
}

@media screen and (max-width:1075px){
    html{
        
        scroll-padding-top: 227px;
        }
    
}
@media screen and (max-width:785px){
    html{
        
        scroll-padding-top: 255px;
        }
    
}

@media screen and (max-width:720px){
    html{
        
        scroll-padding-top: 285px;
        }
    
}
@media screen and (max-width:685px){
    html{
        
        scroll-padding-top: 360px;
        }
 .menu{
    text-align: center;
    padding-inline-start: 0;
    position: fixed;
    width:100%;
    top:0;
    display:list-item;
    border-bottom-left-radius: 4%;
    border-bottom-right-radius: 4%;
    background-color:var(--menu);
    list-style-type: none;
    padding-bottom: 15px;
    margin: 0;
    }
    .menu li{
        padding-top: 3px;
    }
    a{
        font-size:large;
        color: var(--slova);
        box-sizing: border-box;
        padding: 5px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
    }
    .lim{
        margin-bottom: 10px;
    }
}
