
table{
    margin: 20px;
    border-collapse: collapse;
}
td{
    
    border: 1px solid;
    padding: 10px;
    height: 1em;
    }
.prisutan{
    background-color: green;
}
.odsutan{
    background-color: red;
}