doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Spirala1
  link(rel='stylesheet' href='predmet.css')
  link(rel='stylesheet' href='prisustvo.css')
.menu
  .lim
    a(href='#ri') Ra&ccaron;unarstvo i informatika
    ul
      li
        a(href='#rirs_1') RS 1
        a(href='#rirs_2') RS 2
      li
        a(href='#ribsc_1') BSc 1
        a(href='#ribsc_2') BSc 2
        a(href='#ribsc_3') BSc 3
      li
        a(href='#rimsc_1') MSc 1
        a(href='#rimsc_2') MSc 2
  .lim
    a(href='#ee') Elektroenergetika
    ul
      li
        a(href='#eebsc_1') BSc 1
        a(href='#eebsc_2') BSc 2
        a(href='#eebsc_3') BSc 3
      li
        a(href='#eemsc_1') MSc 1
        a(href='#eemsc_2') MSc 2
  .lim
    a(href='#aie') Automatika i elektronika
    ul
      li
        a(href='#aiebsc_1') BSc 1
        a(href='#aiebsc_2') BSc 2
        a(href='#aiebsc_3') BSc 3
      li
        a(href='#aiemsc_1') MSc 1
        a(href='#aiemsc_2') MSc 2
  .lim
    a(href='#tk') Telekomunikacije
    ul
      li
        a(href='#tkbsc_1') BSc 1
        a(href='#tkbsc_2') BSc 2
        a(href='#tkbsc_3') BSc 3
      li
        a(href='#tkmsc_1') MSc 1
        a(href='#tkmsc_2') MSc 2
  if results
    .lim
      button(type='button' onclick='logout()') Logout
      each val in predmeti 
        button(type='button' value=val onclick='klik(this.value)') #{val}
#divj.nok
  script(src='TabelaPrisustvo.js')
  script(src='predmet.js')
  script(src='poziviAjax.js')