doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Spirala1
  link(rel='stylesheet' href='../css/predmet.css')
.menu
  .lim
    a(href='#ri') Ra&ccaron;unarstvo i informatika
    ul
      li
        a(href='#rirs_1') RS 1
        a(href='#rirs_2') RS 2
      li
        a(href='#ribsc_1') BSc 1
        a(href='#ribsc_2') BSc 2
        a(href='#ribsc_3') BSc 3
      li
        a(href='#rimsc_1') MSc 1
        a(href='#rimsc_2') MSc 2
  .lim
    a(href='#ee') Elektroenergetika
    ul
      li
        a(href='#eebsc_1') BSc 1
        a(href='#eebsc_2') BSc 2
        a(href='#eebsc_3') BSc 3
      li
        a(href='#eemsc_1') MSc 1
        a(href='#eemsc_2') MSc 2
  .lim
    a(href='#aie') Automatika i elektronika
    ul
      li
        a(href='#aiebsc_1') BSc 1
        a(href='#aiebsc_2') BSc 2
        a(href='#aiebsc_3') BSc 3
      li
        a(href='#aiemsc_1') MSc 1
        a(href='#aiemsc_2') MSc 2
  .lim
    a(href='#tk') Telekomunikacije
    ul
      li
        a(href='#tkbsc_1') BSc 1
        a(href='#tkbsc_2') BSc 2
        a(href='#tkbsc_3') BSc 3
      li
        a(href='#tkmsc_1') MSc 1
        a(href='#tkmsc_2') MSc 2
  if results
    .lim
      form(action='/logout' method='post')
        input(type='submit' value="Logout")
 
#ri
  h1 Ra&ccaron;unarstvo i informatika
  #rirs_1.rs_1
    h2 RS 1
    .gridw
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Web tehnologije
      .ukinut
        img(src='../Untitled.png' alt='wt')
        h3 Odr&zcaron;avanje sistema
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Razvoj mobilni aplikacija
  #rirs_2.rs_2
    h2 RS 2
    .gridw
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Web tehnologije
      .ukinut
        img(src='../Untitled.png' alt='wt')
        h3 Odr&zcaron;avanje sistema
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Razvoj mobilni aplikacija
      .redovni
        img(src='../Untitled.png' alt='wt')
        h3 In&zcaron;injerska matematika
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Ugradbeni sistemi
      .redovni
        img(src='../Untitled.png' alt='wt')
        h3 In&zcaron;injerska matematika
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Ugradbeni sistemi
  #ribsc_1.bsc_1
    h2 BSc 1
    .gridw
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Web tehnologije
  #ribsc_2.bsc_2
    h2 BSc 2
    .gridw
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Web tehnologije
      .ukinut
        img(src='../Untitled.png' alt='wt')
        h3 Odr&zcaron;avanje sistema
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Razvoj mobilni aplikacija
      .redovni
        img(src='../Untitled.png' alt='wt')
        h3 In&zcaron;injerska matematika
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Ugradbeni sistemi
      .ukinut
        img(src='../Untitled.png' alt='wt')
        h3 Odr&zcaron;avanje sistema
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Razvoj mobilni aplikacija
      .redovni
        img(src='../Untitled.png' alt='wt')
        h3 In&zcaron;injerska matematika
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Ugradbeni sistemi
      .ukinut
        img(src='../Untitled.png' alt='wt')
        h3 Odr&zcaron;avanje sistema
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Razvoj mobilni aplikacija
      .redovni
        img(src='../Untitled.png' alt='wt')
        h3 In&zcaron;injerska matematika
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Ugradbeni sistemi
  #ribsc_3.bsc_3
    h2 BSc 3
    .gridw
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Web tehnologije
      .ukinut
        img(src='../Untitled.png' alt='wt')
        h3 Odr&zcaron;avanje sistema
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Razvoj mobilni aplikacija
      .redovni
        img(src='../Untitled.png' alt='wt')
        h3 In&zcaron;injerska matematika
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Ugradbeni sistemi
      .ukinut
        img(src='../Untitled.png' alt='wt')
        h3 Odr&zcaron;avanje sistema
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Razvoj mobilni aplikacija
      .redovni
        img(src='../Untitled.png' alt='wt')
        h3 In&zcaron;injerska matematika
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Ugradbeni sistemi
  #rimsc_1.msc_1
    h2 MSc 1
    .gridw
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Web tehnologije
      .ukinut
        img(src='../Untitled.png' alt='wt')
        h3 Odr&zcaron;avanje sistema
      .redovni
        img(src='../Untitled.png' alt='wt')
        h3 In&zcaron;injerska matematika
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Ugradbeni sistemi
  #rimsc_2.msc_2
    h2 MSc 2
    .gridw
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Web tehnologije
      .ukinut
        img(src='../Untitled.png' alt='wt')
        h3 Odr&zcaron;avanje sistema
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Razvoj mobilni aplikacija
      .redovni
        img(src='../Untitled.png' alt='wt')
        h3 In&zcaron;injerska matematika
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Ugradbeni sistemi
#ee
  h1 Elektroenergetika
  #eebsc_1.bsc_1
    h2 BSc 1
    .gridw
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Web tehnologije
      .ukinut
        img(src='../Untitled.png' alt='wt')
        h3 Odr&zcaron;avanje sistema
      .ukinut
        img(src='../Untitled.png' alt='wt')
        h3 Odr&zcaron;avanje sistema
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Razvoj mobilni aplikacija
      .redovni
        img(src='../Untitled.png' alt='wt')
        h3 In&zcaron;injerska matematika
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Ugradbeni sistemi
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Razvoj mobilni aplikacija
      .redovni
        img(src='../Untitled.png' alt='wt')
        h3 In&zcaron;injerska matematika
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Ugradbeni sistemi
  #eebsc_2.bsc_2
    h2  BSc 2
    .gridw
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Web tehnologije
      .ukinut
        img(src='../Untitled.png' alt='wt')
        h3 Odr&zcaron;avanje sistema
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Razvoj mobilni aplikacija
      .redovni
        img(src='../Untitled.png' alt='wt')
        h3 In&zcaron;injerska matematika
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Ugradbeni sistemi
  #eebsc_3.bsc_3
    h2 BSc 3
    .gridw
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Web tehnologije
      .redovni
        img(src='../Untitled.png' alt='wt')
        h3 In&zcaron;injerska matematika
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Ugradbeni sistemi
  #eemsc_1.msc_1
    h2 MSc 1
    .gridw
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Web tehnologije
      .ukinut
        img(src='../Untitled.png' alt='wt')
        h3 Odr&zcaron;avanje sistema
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Razvoj mobilni aplikacija
      .redovni
        img(src='../Untitled.png' alt='wt')
        h3 In&zcaron;injerska matematika
  #eemsc_2.msc_2
    h2 MSc 2
#aie
  h1 Automatika i elektronika
  #aiebsc_1.bsc_1
    h2 BSc 1
    .gridw
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Web tehnologije
      .ukinut
        img(src='../Untitled.png' alt='wt')
        h3 Odr&zcaron;avanje sistema
  #aiebsc_2.bsc_2
    h2 BSc 2
    .gridw
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Web tehnologije
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Ugradbeni sistemi
  #aiebsc_3.bsc_3
    h2 BSc 3
    .gridw
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Web tehnologije
      .ukinut
        img(src='../Untitled.png' alt='wt')
        h3 Odr&zcaron;avanje sistema
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Razvoj mobilni aplikacija
      .redovni
        img(src='../Untitled.png' alt='wt')
        h3 In&zcaron;injerska matematika
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Ugradbeni sistemi
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Razvoj mobilni aplikacija
      .redovni
        img(src='../Untitled.png' alt='wt')
        h3 In&zcaron;injerska matematika
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Ugradbeni sistemi
  #aiemsc_1.msc_1
    h2 MSc 1
    .gridw
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Web tehnologije
      .ukinut
        img(src='../Untitled.png' alt='wt')
        h3 Odr&zcaron;avanje sistema
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Razvoj mobilni aplikacija
      .redovni
        img(src='../Untitled.png' alt='wt')
        h3 In&zcaron;injerska matematika
      .ukinut
        img(src='../Untitled.png' alt='wt')
        h3 Odr&zcaron;avanje sistema
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Razvoj mobilni aplikacija
      .redovni
        img(src='../Untitled.png' alt='wt')
        h3 In&zcaron;injerska matematika
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Ugradbeni sistemi
      .ukinut
        img(src='../Untitled.png' alt='wt')
        h3 Odr&zcaron;avanje sistema
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Razvoj mobilni aplikacija
      .redovni
        img(src='../Untitled.png' alt='wt')
        h3 In&zcaron;injerska matematika
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Ugradbeni sistemi
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Ugradbeni sistemi
  #aiemsc_2.msc_2
    h2 MSc 2
    .gridw
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Web tehnologije
      .ukinut
        img(src='../Untitled.png' alt='wt')
        h3 Odr&zcaron;avanje sistema
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Razvoj mobilni aplikacija
      .redovni
        img(src='../Untitled.png' alt='wt')
        h3 In&zcaron;injerska matematika
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Ugradbeni sistemi
#tk
  h1 Telekomunikacije
  #tkbsc_1.bsc_1
    h2 BSc 1
    .gridw
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Web tehnologije
      .ukinut
        img(src='../Untitled.png' alt='wt')
        h3 Odr&zcaron;avanje sistema
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Razvoj mobilni aplikacija
      .redovni
        img(src='../Untitled.png' alt='wt')
        h3 In&zcaron;injerska matematika
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Ugradbeni sistemi
  #tkbsc_2.bsc_2
    h2 BSc 2
    .gridw
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Web tehnologije
      .ukinut
        img(src='../Untitled.png' alt='wt')
        h3 Odr&zcaron;avanje sistema
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Razvoj mobilni aplikacija
      .redovni
        img(src='../Untitled.png' alt='wt')
        h3 In&zcaron;injerska matematika
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Ugradbeni sistemi
  #tkbsc_3.bsc_3
    h2 BSc 3
    .gridw
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Web tehnologije
      .ukinut
        img(src='../Untitled.png' alt='wt')
        h3 Odr&zcaron;avanje sistema
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Razvoj mobilni aplikacija
      .redovni
        img(src='../Untitled.png' alt='wt')
        h3 In&zcaron;injerska matematika
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Ugradbeni sistemi
  #tkmsc_1.msc_1
    h2 MSc 1
    .gridw
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Web tehnologije
      .ukinut
        img(src='../Untitled.png' alt='wt')
        h3 Odr&zcaron;avanje sistema
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Razvoj mobilni aplikacija
      .redovni
        img(src='../Untitled.png' alt='wt')
        h3 In&zcaron;injerska matematika
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Ugradbeni sistemi
  #tkmsc_2.msc_2
    h2 MSc 2
    .gridw
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Web tehnologije
      .ukinut
        img(src='../Untitled.png' alt='wt')
        h3 Odr&zcaron;avanje sistema
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Razvoj mobilni aplikacija
      .redovni
        img(src='../Untitled.png' alt='wt')
        h3 In&zcaron;injerska matematika
      .izborni
        img(src='../Untitled.png' alt='wt')
        h3 Ugradbeni sistemi
