
table{
    margin: 20px;
    border-collapse: collapse;
}
td{
    
    border: 2px solid black;
    padding: 10px;
    vertical-align: top;
    height: 1em;
    }
.prisutan{
    background-color: #94c47c;
}
.odsutan{
    background-color: #e36464;
}